@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  user-select: none;
}

a {
  @apply p-3 rounded-full;
}

button[type='button'] {
  @apply flex justify-center items-center;
}

li {
  @apply list-none;
}

button[type='button'].react-multiple-carousel__arrow {
  @apply shadow-[0px_2px_4px_1px_rgba(0,0,0,0.3)];
  displat: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 130px;
  min-width: 0;
  opacity: 0.5;
  background: #fff !important;
  transform: scale(0.6);
  &:hover {
    opacity: 1;
    transform: scale(0.8);
  }
}

button[type='button'].react-multiple-carousel__arrow--right {
  right: 0px;
}

button[type='button'].react-multiple-carousel__arrow--left {
  left: 0px;
}

.react-multiple-carousel__arrow::before {
  color: #000 !important;
  font-size: 28px !important;
}

input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
